/*
    Join Us \/
*/

.join-us-main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.join-links {
    margin: auto;
    padding: 20px 100px 20px 100px;
    width: auto;
}
.join-links img {
    height: 100px;
}
.join-links h1{
    padding-top: 20px;
    font-size: 20px;
}
