* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

* {
    scroll-behavior: smooth;
}
html, body{ 
    background-color: white;
    height: 100%;
    width: 100%;
    color: black;
    font-family: 'Noto serif', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
main {
    transition: transform 0.5s ease-in-out;
}
.small-paragraph {
    font-size: 10px;
}

.opening-background, main {
    width: calc(100% - 200px);
}
/* OPENING BACKGROUND */
.opening-background {
    height: 800px;
    float: right;
    background-image: url(../images/hotmk.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s ease-in-out;
}
.home-logo {
    margin: 20px 0px 0px 20px;
    text-align: left;
    color: gray;
    font-size: 30px;

}
.home-logo h1 b{
    color: darkred;
}

#bat-gif {
    position: static;
    width: 200px;
    top: 0;
    transform: translateX(150%) translateY(-55%);
    opacity: 0.4;
}

/**/

/* SIDE NAVIGATION BAR */
.logo {
    width: 100%;
    height: 100px;
}
.logo img {
    width: 100%;
}
aside {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 200%;
    /* Width either percentage or set, as mobile sidebar dragged across. Set width chosen. */
    /*width: 20%;    <- swapped */
    width: 200px;
    background-color: black;
    transition: transform 0.5s ease-in-out;
    box-shadow: 7px 0px 7px -5px rgb(80, 80, 80);
}

aside footer {
    position: relative;
    text-align: center;
    margin: 100px 10% 10% 10%;
}
aside footer img {
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
}
/**/

/* Mobile Menu */
.topnav{ 
    display: none;
}
.hamburger {
    height: 70px;
    width: 100%;
    position: absolute;
    top: 800;
    right: 0;
    display: none;
}
.hamburger a {
    float: right;
    line-height: 70px;
    padding-right: 20px;
    font-size: 15px;

}
/**/

/*SIDE NAVIGATION LINKS*/
.home-navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.home-navbar ul li, .dropbtn, .dropdown-content a{
    width: 200px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.home-navbar ul li:first-child {
    border-top: 1px solid white;
}

.home-navbar ul li {
    border-bottom: 1px white solid;
}

.home-navbar ul li a, .dropbtn, aside footer {
    color: white;
}

.dropbtn {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font: inherit;
}

.home-navbar li:hover, .dropbtn:hover, .dropdown-content a:hover {
    background-color: black;
    width: 210px;
    transition: width 0.4s ease-in;
}

.dropdown-content {
    width: 100%;
    display: none;
}
.dropdown-content a {
    border: 1px solid white;
    border-left: none;
    border-left: none;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    border-right: none;
}
/*END OF SIDE NAVIGATION LINKS*/

/* IMAGE CAROUSEL*/
.slideshow-images {
    width: 500px;
    min-width: 500px;
    height: 300px;
    min-height: 300px;
    margin: 100px auto 100px auto;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
#ss-images {
    display: flex;
    flex-direction: row;
    width: 2500px;
    transition: margin 1s ease-in-out;
}
#ss-images img {
    width: 500px;
    height: 300px;

}

.slideshow-buttons {
    width: 500px;
}

.slideshow-buttons a {
    font-size: 10px;
    position: absolute;
    height: 300px;
    width: 20px;
    line-height: 300px;
    background-color: rgba(128, 128, 128, 0.4);
    text-align: center;
    opacity: 0;
}

.slideshow-buttons a:last-child {
    transform: translateX(480px);
}

.slideshow-buttons a:hover {
    opacity: 100;
}

.slideshow-placeholders {
    text-align: center;
}
.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: white;
}
/* END OF IMAGE CAROUSEL*/

main {
    float: right;
}

/* TEMPLATE FOR PAGE CONTENT */ 

    .page-content {
        margin: 10%;
        font-size: 15px;
        text-align: center;
    }
    .page-content h2 {
        padding-top: 50px;
        margin: 20px;
        font-size: 25px;
        font-weight: bolder;
        color: darkred;
    }
    .page-content h3 {
        text-decoration: underline;
        margin: 20px;
        font-size: 18px;
        color: black;
    }
    .page-content p {
        margin-top: 10px;
        text-align: center;
    }
    .page-content img {
        width: 400px;
        max-width: 100%;
        margin: auto;
        padding-top: 20px;
    }
    .page-content h4 {
        font-size: 17px;
        text-decoration: solid;
    }
    .page-content a {
        text-decoration: underline;
    }
    .page-content a img {
        width: 100px;
    }

    .page-content h1:last-child {
        padding-top: 20px;
    }

/* TEMPLATE FOR PAGE CONTENT */ 

/* GALLERY STYLE */

.gallery-container {
    background-color: black;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}
.gallery-container img {
    max-width: 500px;
    margin: 20px;
}
#gallery-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* GALLERY STYLE */

/*
    First instance of page content (carousel on main page)
    overflow. (500px(carousel) + 200px(nav))
*/

@media screen and (max-height: 823px) {
    .opening-background {
        height: 823px;
    }
}

@media screen and(max-height: 600px) {
    .opening-background {
        height: 600px;
    }
}

@media screen and (min-width: 701px) {
    .page-content {
        margin: 50px;
    }
    .mobile-caves-nav {
        display: none;
    }
}
@media screen and (max-width: 700px) {

    aside {
        transform: translateX(-200px);
    }
    .opening-background, main {
        width: 100%;
    }
    .hamburger {
        display: contents;
        transition: none;
    }
    .page-content img {
        width: 80%;
    }
    .caves-header {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .mobile-caves-nav li a:nth-child(1), .mobile-caves-nav li a:nth-child(2){
        line-height: 35px;
    }
}

/*
    Second instance of page content disturbance
    - Opening background 100% width
    - mobile menu follows ^
    - text of page content shrinks to small

*/

@media screen and (max-width: 500px) {
    #bat-gif {
        display: none;
    }
    .home-logo {
        margin: none;
    }
    .slideshow-images img{
        max-width: 100%;
    }
    .gallery-container img {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .home-logo {
        text-align: left;
        font-size: 20px;
    }
}

/* END OF INDEX */

.mobile-caves-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70px;
}
.mobile-caves-nav li {
    background-color: lightgrey;
    width: 20%;
    line-height: 70px;
    text-align: center;
}
.mobile-caves-nav li:hover {
    height: 75px;
    border-top: 5px solid black;
    transition: height 0.3s ease-in-out;
    transition: border-top 0.3s ease-in-out;
}

.caves-header ul{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: calc(100% - 200px);
    height: 30px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}

.caves-header ul li {
    background-color: lightgrey;
    width: 20%;
    height: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.caves-header ul li:hover {
    height: 35px;
    border-top: 5px solid black;
    transition: height 0.3s ease-in-out;
    transition: border-top 0.3s ease-in-out;
}

.uk-map-container {
    width: 339px;
    height: 480px;
    margin: auto;
    margin-bottom: 50px;
    
}
.uk-map-container img {
    height: 100%;
    width: 100%;
}

.location-dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid darkred;
    position: static;
    bottom: 0;
    left: 50%;
}

.location-dot:hover {
    background-color: darkred;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#NW-dot {
    transform: translateX(160px) translateY(-175px);
}
#SW-dot {
    transform: translateX(155px) translateY(-140px);
}
#Y-dot {
    transform: translateX(180px) translateY(-280px);
}
#M-dot {
    transform: translateX(180px) translateY(-150px);
}
#A-dot {
    transform: translateX(400px) translateY(-170px);
}

